<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Editor</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div class="line formated">
        <app-color
                class="app-color"
                txt-color="color"
                @save-color="catchColor">
            Text color:
        </app-color>
        <app-color
                class="app-color"
                txt-color="bgdcolor"
                @save-color="catchBGcolor">
            Background color:
        </app-color>
        <app-font
                class="app-color"

                @save-font="catchFont">
        </app-font>
        <br>
        <button type="submit" @click="safeFormat">Set</button>
        <br><br><br>
        <label for="text">Enter your text:</label>
        <br>
        <textarea id="text" rows="10" cols="45"
                  placeholder="enter text....."
                  @input="setMessage"
                  v-model="text"
                  @keypress.13="eddBR"></textarea>
    </div>
    <div class="line">
        <p></p>

        <p>File:</p>

        <div class='text'>
            <div :id="input">
        <span v-for="ob in dataSaver"

              :style="{ 'color': ob.color, 'font-size': ob.fontsize, 'background-color': ob.bgdcolor, }"
              v-html="ob.text"
              @mouseup="setToChange"
              :id="ob.id">

    </span></div>
            <span v-if="text"
                  id="notedit"
                  :style="{'color': color, 'font-size': fontsize, 'background-color': bgdcolor, }">
                    {{text}}
                </span>
        </div>
    </div>

</div>

<script>
    notedit.onselectstart = () => false;
</script>
</body>
</html>