#app {

}
.line{

    width: 80%;
    padding: 20px 5%;
    box-sizing: border-box;
    margin: 10px auto;
}

.text {
    display: inline-block;
    height: 200px;
    width: 500px;
    border: darkgray solid 1px;
}
textarea { resize: none; }


.app-color {
    display: inline;
}